*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(3, 108, 36, 0.452);
    flex-direction: column;
}
#src_input{
    display: flex;
    gap: 15px;
}
#div_weather_info{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    color: white;
    gap: 15px;
}
#weather_info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.divul_smecher{
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
#input{
    width: 500px;
    height: 50px;
    padding: 20px;
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 128, 0, 0);
    border: 2px solid rgba(3, 108, 36, 0.452);
    font-size: 1.5rem;
    transition: 0.3s;
}
#input:hover{
    background-color: rgba(0, 128, 0, 0.1);
    border: 2px solid hsla(139, 95%, 42%, 0.452);
    scale: 1.05;
}
#input::placeholder{
    color: hsl(0, 0%, 90%);
}
#input:focus{
    background-color: rgba(0, 128, 0, 0.4);
    border: 2px solid hsla(139, 95%, 42%, 0.6);
    outline-color: lime;
}
#search{
    cursor: pointer;
    transition: 0.4s;
}
#search:hover{
    scale: 1.1;
    fill: rgba(0, 195, 36, 0.553);
}
#search:active{
    scale: 0.9;
    fill: rgb(0, 195, 36);
}
#temperature{
    font-size: 5rem;
}
#city_region_input{
    font-size: 3rem;
}
#img{
    width: 400px;
    height: 400px;
}
@media (max-width:600px){
    #input{
        width: 250px;
        height: 50px;
    }
}
@media (max-width:470px){
    #img{
        width: 300px;
        height: 300px;
    }
}